@page "/CustomerAddrEdit/{AddressId:int}/{CustomerId:int}"

<h1>Customer Address Edit</h1>

<FormDynamicEditComponent TForm="MyCustomerHeaderForm" Id="@CustomerId" />
<FormDynamicEditComponent TForm="MyCustomerAddrEditForm" Id="@AddressId" ServiceParameters="@(new object[] { CustomerId })" />

@code {
    [Parameter]
    public int AddressId { get; set; }

    [Parameter]
    public int CustomerId { get; set; }

    private Dictionary<string, object> GetPatameters()
    {
        return new Dictionary<string, object>()
        {
            { "AddressId", AddressId },
            { "CustomerId", CustomerId },
        };
    }
}