@inherits LayoutComponentBase

@inject ISpaceController _spaceController

<CascadingValue Value="@_spaceController">

    <div class="page">
        @*<div class="wrapper">*@

        <div class="sidebar">
            @*<NavMenu />*@
            <ProjectMenu />
        </div>


        <div style="width: 100%;">
            @*<div class="top-row px-4">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>*@

            <div class="top-row px-4">
                <ProjectToolBar />

            </div>

            <div class="content px-4">


                @Body
            </div>
        </div>
        @*</div>*@
    </div>

</CascadingValue>

@code { 
    
    protected override async Task OnInitializedAsync()
    {
    }
} 