@inherits LayoutComponentBase

@inject ISpaceController _spaceController

<CascadingValue Value="@_spaceController">

    <div class="page">
        @*<div class="wrapper">*@

        <div class="sidebar">
            <ProjectMenu ModelChanged="ModelChanged"/>
        </div>

        <div style="width: 100%;">
            @*<div class="top-row px-4">*@
                <ProjectToolBar ModelChanged="ModelChanged" FullStoreDataPath="C:\repo\data\DevSpace"/>
            @*</div>*@

            <div class="content px-4">
                @Body
            </div>
        </div>
        @*</div>*@
    </div>

</CascadingValue>

@code { 

    protected override async Task OnInitializedAsync()
    {
    }

    private async Task ModelChanged(ChangeEventArgs args)
    {
        StateHasChanged();
    }
} 