

<ul class="nav nav-pills" id="mainNav">
    <li class="nav-item">
        @*<a class="nav-link " href="#">Active</a>*@
        <button class="btn btn-light" type="button">
            <span class="oi oi-file"></span>
            New Project
        </button>
    </li>
    <li class="nav-item">
        <button class="btn btn-light" type="button">
            <span class="oi oi-cloud-download"></span>
            Load Project
        </button>
    </li>
    <li class="nav-item">
        <button class="btn btn-light" type="button">
            <span class="oi oi-data-transfer-upload"></span>
            Save Project
        </button>
    </li>
    <li class="nav-item tbend">
        <button class="btn btn-light" type="button">
            <span class="oi oi-hard-drive"></span>
            Save All
        </button>
    </li>

    <li class="nav-item">
        <button class="btn btn-light" type="button">
            <span class="oi oi-fire"></span>
            Some Button
        </button>
    </li>

    <li class="nav-item">
        <button class="btn btn-light" type="button">
            <span class="oi oi-fire"></span>
            Another Button
        </button>
    </li>

</ul>

@code {

}
