<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h4>Platz Dev Space</h4>
    </div>

    <ul class="list-unstyled components">
        <p>MyProject1</p>
        <li class="active">
            <a href="#schemaSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Schema</a>
            <ul class="collapse show list-unstyled" id="schemaSubmenu">
                <li>
                    <a href="#">CRM</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#queriesSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Queries</a>
            <ul class="collapse show list-unstyled" id="queriesSubmenu">
                <li>
                    <a href="#">Query1</a>
                </li>
                <li>
                    <a href="#">Query2</a>
                </li>
                <li>
                    <a href="#">Query3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#formsSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Forms</a>
            <ul class="collapse show list-unstyled" id="formsSubmenu">
                <li>
                    <a href="#">Form1</a>
                </li>
                <li>
                    <a href="#">Form2</a>
                </li>
            </ul>
        </li>
        @*<li>
            <a href="#">Help</a>
        </li>*@
    </ul>
</nav>

@code {

}
