<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h4>Platz Dev Space</h4>
    </div>

    <ul class="list-unstyled components">
        <p>MyProject1</p>
        <li class="active">
            <a href="#schemaSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Schema</a>
            <ul class="collapse show list-unstyled" id="schemaSubmenu">
                @{
                    var i1 = 0;
                }

                @foreach (var schema in _spaceController.GetProjectSchemas())
                {
                    var index = i1;

                    <li>
                        <a href="" @onclick="async () => await SchemaClick(index, schema)" @ondblclick="async () => await SchemaDblClick(index, schema)">@schema.Name</a>
                    </li>
                }
            </ul>
        </li>
        <li>
            <a href="#queriesSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Queries</a>
            <ul class="collapse show list-unstyled" id="queriesSubmenu">
                @{
                    var i2 = 0;
                }

                @foreach (var query in _spaceController.GetProjectQueries())
                {
                    var index = i2;

                    <li>
                        <a href="" @onclick="async () => await QueryClick(index, query)">@query.Name</a>
                    </li>
                }
            </ul>
        </li>
        <li>
            <a href="#formsSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Forms</a>
            <ul class="collapse show list-unstyled" id="formsSubmenu">
                @{
                    var i3 = 0;
                }

                @foreach (var f in _spaceController.GetProjectForms())
                {
                    var index = i3;

                    <li>
                        <a href="" @onclick="async () => await FormClick(index, f)">@f.Name</a>
                    </li>
                }
            </ul>
        </li>
        @*<li>
            <a href="#">Help</a>
        </li>*@
    </ul>
</nav>

@code {
    [CascadingParameter]
    public ISpaceController _spaceController { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> ModelChanged { get; set; }

    private async Task SchemaClick(int index, IStoreObject item)
    {
        //_spaceController.ActivateWindow(item);
        _spaceController.OpenWindow(item);
        await ModelChanged.InvokeAsync();
    }

    private async Task SchemaDblClick(int index, StoreSchema item)
    {
        _spaceController.OpenWindow(item);
        await ModelChanged.InvokeAsync();
    }

    private async Task QueryClick(int index, IStoreObject item)
    {
        _spaceController.OpenWindow(item);
        await ModelChanged.InvokeAsync();
    }

    private async Task FormClick(int index, IStoreObject item)
    {
        _spaceController.OpenWindow(item);
        await ModelChanged.InvokeAsync();
    }
}
