<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h4>Platz Dev Space</h4>
    </div>

    <ul class="list-unstyled components">
        <p>MyProject1</p>
        <li class="active">
            <a href="#schemaSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Schema</a>
            <ul class="collapse show list-unstyled" id="schemaSubmenu">
                @foreach (var schema in _spaceController.GetProjectSchemas())
                {
                <li>
                    <a href="#">@schema.Name</a>
                </li>
                }
            </ul>
        </li>
        <li>
            <a href="#queriesSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Queries</a>
            <ul class="collapse show list-unstyled" id="queriesSubmenu">
                @foreach (var query in _spaceController.GetProjectQueries())
                {
                    <li>
                        <a href="#">@query.Name</a>
                    </li>
                }
            </ul>
        </li>
        <li>
            <a href="#formsSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Forms</a>
            <ul class="collapse show list-unstyled" id="formsSubmenu">
                @foreach (var f in _spaceController.GetProjectForms())
                {
                    <li>
                        <a href="#">@f.Name</a>
                    </li>
                }
            </ul>
        </li>
        @*<li>
            <a href="#">Help</a>
        </li>*@
    </ul>
</nav>

@code {
    [CascadingParameter]
    public ISpaceController _spaceController { get; set; }
}
