@namespace Platz.SqlForms.Blazor

@inject IDataEntryProvider _dataEntryProvider

<div class="TextControl">
    <select class="form-control selectpicker" disabled="disabled" value="@State.Value">
        @foreach (var item in _items)
        {
            <option value="@GetId(item)">@GetName(item)</option>
        }
    </select>
</div>

@code
{
    [Parameter]
    public IDataForm Form { get; set; }

    [Parameter]
    public DataField Field { get; set; }

    [Parameter]
    public FieldState State { get; set; }

    [Parameter]
    public EventCallback<ValueChangedArgs> ModelValueChanged { get; set; }

    private System.Collections.IList _items;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _items = _dataEntryProvider.GetEntityData(Form, Field.SelectEntityType);
    }

    private string GetId(object item)
    {
        var result = item.GetPropertyValue(Field.SelectIdProperty)?.ToString();
        return result;
    }

    private string GetName(object item)
    {
        var result = item.GetPropertyValue(Field.SelectNameProperty)?.ToString();
        return result;
    }

}