.my-test-component {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}




.flex-item {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    background-color: dodgerblue;
    min-height: 300px;
    opacity: 0.8;
}
