@using Platz.ObjectBuilder.Blazor.Controllers
@using System.IO
@namespace Platz.ObjectBuilder.Blazor
@inject IQueryController _queryController


    <CascadingValue Value="@_queryController">

        <QuerySettingsComponent StoreDataPath="@_fullStoreDataPath"/>

        <table style="width: 100%">
            <tr>
                <th style="width: auto"></th>
                <th style="width: 300px"></th>
            </tr>
            <tr>
                <td style="vertical-align: top">
                    <div>
                        <QuerySelectPanelComponent ModelChanged="ModelChanged"/>
                    </div>
                    <div>
                        @*<QueryFromPanelComponent QueryController="_queryController" />*@
                        <QueryFromPanelComponent ModelChanged="ModelChanged" />
                    </div>
                    <div>
                        <QueryWherePanelComponent ModelChanged="ModelChanged"/>
                    </div>
                </td>
                <td style="vertical-align: top">
                    <div style="vertical-align: top">
                        <QueryTableListComponent ModelChanged="ModelChanged" />
                    </div>
                </td>
            </tr>
        </table>
    </CascadingValue>

    @code {
        [Parameter]
        public Type DbContextType { get; set; }

        [Parameter]
        public string StoreDataPath { get; set; }

        private string _fullStoreDataPath { get; set; }

        protected override void OnInitialized()
        {
            base.OnInitialized();

            InitController();
            _fullStoreDataPath = Path.Combine(Directory.GetCurrentDirectory(), StoreDataPath);
            _fullStoreDataPath = Path.GetFullPath(_fullStoreDataPath);
        }

        private void InitController()
        {
            if (DbContextType != null)
            {
                var p = new EntityFrameworkQueryControllerParameters { DbContextType = DbContextType };
                _queryController.SetParameters(p);
            }

            _queryController.LoadSchema();
        }

        private async Task ModelChanged(ChangeEventArgs args)
        {
            StateHasChanged();
        }

        private void Click()
        {
            StateHasChanged();
        }

    }
