@using Plk.Blazor.DragDrop
@namespace Platz.ObjectBuilder.Blazor

<h5>From</h5>

<div class="plk-flex overflow-auto" style="min-height: 300px; height: 300px">
    <Dropzone Class="flex-container" Items="QueryController.FromTables" ItemWrapperClass="flex-item">
        @*<div>@context</div>*@
        <TableAliasFieldsComponent Table="@context" ModelChanged="ModelChanged" />
    </Dropzone>

</div>



@code {
    [CascadingParameter]
    public IQueryController QueryController { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> ModelChanged { get; set; }

    private List<QueryFromTable> _fromTables { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _fromTables = QueryController.FromTables.ToList();
    }

    
}
