@namespace Platz.ObjectBuilder.Blazor

    <h5>Where</h5>

    <div class="plk-flex" >
        @*<div style="background-color: lightblue; min-height: 150px; height: 150px">*@
            <textarea id="exampleFormControlTextarea1" rows="5" style="width: 100%"></textarea>
        @*</div>*@
    </div>

@code {
}
