.table-migr {
    border-collapse: collapse;
    width: 100%;
}

    .table-migr td, .table-migr th {
        padding: 1px;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        text-align: left;
    }
