@using Platz.ObjectBuilder.Blazor.Controllers
@using System.Text.Json
@using System.IO

@namespace Platz.ObjectBuilder

<h6>SchemaFileSettingComponent</h6>

@code {
    [CascadingParameter]
    public ISchemaController SchemaController { get; set; }

    [Parameter]
    public string StoreDataPath { get; set; }

    [Parameter]
    public string Namespace { get; set; }

    [Parameter]
    public string DataService { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> ModelChanged { get; set; }
}
