::deep .query-nav-item {
    height: 32px;
    background-color: lightslategrey;
}

::deep .query-nav-item.active {
    height: 32px;
    background-color: lightgrey;
}

::deep .query-nav-tabs {
    padding: 8px 0 0 0;
}
