@namespace Platz.ObjectBuilder.Blazor.Forms

<div style="height: 90px; border-style: solid; border-width: 1px;">
    <h3>Forms Information (Preview)</h3>
</div>


@code {
    [CascadingParameter]
    public IFormBuilderController FormController { get; set; }

    [Parameter]
    public double Height { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> ModelChanged { get; set; }
}
