::deep .forms-big {
    padding: 5px 0 0 0;
    margin: 0 0 0 0;
}

::deep .forms-btn-center {
    display: block;
    margin: 1px auto 0 auto;
}

::deep .forms-tb-buttons {
}
::deep .forms-tb-buttons button{
    width: 100%;
    margin: 0 0 5px 0;
}

::deep .forms-tb-buttons-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 5px 0;
}

::deep .forms-toolbar {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100%;
}

::deep .tb-margin {
    margin: 0 0 5px 0;
}

::deep .tb-wide {
    margin: 0 0 5px 0;
    width: 100%;
}

::deep .forms-grid {
    margin: 5px 0 0 0;
}

::deep .forms-nospace {
    margin: 2px 0 0 0;
    padding: 0 0 0 0;
}

::deep .row-nospace-sm {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2px 2px 2px;
    padding: 1px 1px 1px 1px;
}

::deep .nospace-sm {
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
}

::deep .nospace-sm2 {
    margin: 0 2px 2px 2px;
    padding: 0 0 0 0;
}

::deep .forms-cap-active {
    padding: 0 0 0 10px;
    background-color: dodgerblue;
    height: 32px;
}

::deep .forms-cap {
    padding: 0 0 0 10px;
    background-color: gray;
    height: 32px;
}

::deep .forms-uncap {
    padding: 0 0 0 10px;
    background-color: lightgray;
    height: 32px;
}

/* forms widget */
::deep .forms-widget {
    width: 500px;
}

::deep .forms-widget-body {
    width: 500px;
    min-height: 50px;
    background-color: lightgray
}

::deep .forms-widget-preview {
    padding: 0 0 0 0;
    width: 502px;
    background-color: lightgray;
    border-style: dashed;
    border-radius: 5px;
    border-width: 1px;
}

/* list widget */
::deep .list-widget {
    width: 120px;
}

::deep .list-widget-preview {
    padding: 0 0 0 0;
    width: 122px;
    background-color: lightgray;
    border-style: dashed;
    border-radius: 5px;
    border-width: 1px;
}

::deep .list-widget-body {
    width: 120px;
    min-height: 50px;
    background-color: lightgray
}

::deep .list-widget-flex-item {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

::deep .list-widget-panel {
    opacity: 0.8;
}

::deep .list-flex-container {
    display: flex;
    background-color: dodgerblue;
    min-height: 100px;
    opacity: 0.8;

    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}




::deep .widget-relative {
    position: relative;
}

::deep .widget-close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
}

::deep .widget-label-sign {
    position: absolute;
    top: -3px;
    right: 3px;
}

::deep .widget-label {
    position: absolute;
    top: -15px;
    left: 2px;
}

::deep .widget-control {
    height: 30px;
    margin-top: 14px;
}

::deep .forms-widget-small {
    padding: 5px 2px 0 2px;
    margin: 0 0 0 0;
}

::deep .widget-check-small {
    height: 23px;
}




::deep .widget-preview {
    position: relative;
}

::deep .widget-preview-sign {
    position: absolute;
    top: 0px;
    right: 20px;
}

::deep .form-light {
    background-color: aliceblue;
}