@using Platz.ObjectBuilder.Blazor
@using Platz.ObjectBuilder.Blazor.Controllers
@using Platz.ObjectBuilder.Blazor.Forms

@namespace Platz.ObjectBuilder

@inject IFormBuilderController _formsPageController

<CascadingValue Value="@_formsPageController">

    <div class="container" style="margin-left: 0; margin-right: 0">
        <div class="row">
            <div class="col-lg">
                <FormsPageContentComponent Height="Height" ModelChanged="ModelChanged" />
            </div>
            <div class="col-lg">
                <FormsPropertiesComponent />

                <FormsInfoComponent />
            </div>
        </div>
    </div>

    @*<div style="width: 520px">
        <FormsPageContentComponent Height="780" ModelChanged="ModelChanged" />
    </div>
    <div>
        <FormsFieldPropertiesComponent />
    </div>*@

</CascadingValue>

@code 
{
    [Parameter]
    public double Height { get; set; } = 780;

    private async Task ModelChanged(ChangeEventArgs args)
    {
        StateHasChanged();
    }
}
