@namespace Platz.SqlForms.Blazor

<div class="TextControl">
    @*@if (Field.Required)
        {
            <div>@(Field.Label)*</div>
        }
        else
        {
            <div>@Field.Label</div>
        }*@

    <input class="form-control" value="@State.Value" @onchange="@(a => ValueChanged(a))" />
    @*<div class="validation-error-message" style="color: red;" hidden="hidden">Required</div>*@
    <ValidatorControl Messages="State.ValidationMessages" />
</div>

@code
{
    [Parameter]
    public DataField Field { get; set; }

    [Parameter]
    public FieldState State { get; set; }

    [Parameter]
    public EventCallback<ValueChangedArgs> ModelValueChanged { get; set; }

    private async Task ValueChanged(ChangeEventArgs a)
    {
        State.Value = a.Value;
        var args = new ValueChangedArgs { Field = Field, State = State, NewValue = a.Value };
        await ModelValueChanged.InvokeAsync(args);
    }
}