@namespace Platz.SqlForms.Blazor

@if (Messages != null)
{
    @foreach (var message in Messages)
    {
        <div class="validation-error-message" style="color: red;">@message</div>
    }
}

@code
{
    [Parameter]
    public IEnumerable<string> Messages { get; set; }
}