@page "/DepartmentDetails"
@using MasterDetailsDataEntry.Demo.MyForms

@inject NavigationManager _navi;

<h2>Department Details</h2>

<FormDetailsComponent FormType="@typeof(DepartmentForm)" FilterValue="null" ItemButtonClicked="@ButtonClicked" />

<button class="btn btn-primary" @onclick="@((args) => AddClick(args))">Add New Department</button>

<label>@_label1</label>

@code {
    private string _label1;

    private async Task ButtonClicked(ItemButtonClickedArgs args)
    {
        _label1 = args.Pk.ToString();
        _navi.NavigateTo($"/DepartmentCourseDetailsPage/{args.Pk}");
    }

    private void AddClick(MouseEventArgs e)
    {
        _navi.NavigateTo($"/DepartmentCourseDetailsPage/nil");
    }
}
