@page "/DepartmentDetails"
@using MasterDetailsDataEntry.Demo.MyForms

@inject IDataEntryProvider _dataEntryProvider

<h2>Department Details</h2>

<MasterRecordControl FormType="@typeof(DepartmentForm)" FilterValue="1" />
<DetailsFormControl FormType="@typeof(DepartmentForm)" FilterValue="null" ForeignKeyValue="null" />

@code {



}
