@page "/"


<h1>Hello, world!</h1>

    Welcome to your new app.

@*<BuilderFromComponent/>*@

@*<CustomNode />*@

<div style="width:800px; height:600px; border-style: solid;">
    <div draggable="true"
         @ondragend="OnDragEnd" ondragstart="OnDragStart"
         style="position:absolute; top: @(offsetY)px; left: @(offsetX)px; border-color: black;">
        <div>your content</div>
    </div>
</div>

@code {
    private double startX, startY, offsetX, offsetY;

    private void OnDragStart(DragEventArgs args)
    {
        startX = args.ClientX;
        startY = args.ClientY;
    }

    private void OnDragEnd(DragEventArgs args)
    {
        offsetX += args.ClientX - startX;
        offsetY += args.ClientY - startY;
    }
}
