@page "/query"
@using Plk.Blazor.DragDrop
@using Platz.ObjectBuilder.Blazor

<!--<div class="bg-success">Object Builder</div>

<hr />

<div class="plk-flex">
    <Dropzone Class="flex-container" Items="Items" ItemWrapperClass="flex-item">-->
@*<div>@context</div>*@
<!--<TableFieldsComponent Table="@context"/>
    </Dropzone>

</div>-->

<QueryComponent DbContextType="typeof(MasterDetailsDataEntry.Demo.Database.AdventureWorksContext)" />


@code {
    public List<TableObj> Items = new List<TableObj>()
    {
        new TableObj { Name= "Project", Fields = new List<StoreQueryField> { new StoreQueryField { Field = "ProjectId" }, new StoreQueryField { Field = "Name" } } },
        new TableObj { Name= "Allocation", Fields = new List<StoreQueryField> { new StoreQueryField { Field = "AllocationId", FieldAlias = "id" }, new StoreQueryField { Field = "Allocated", FieldAlias = "all" } } },
        new TableObj { Name= "Person", Fields = new List<StoreQueryField> { new StoreQueryField { Field = "PersonId" }, new StoreQueryField { Field = "FullName" } } }
    };

    //public List<TableFieldsComponent> Items = new List<TableFieldsComponent>()
    //{
    //    new TableFieldsComponent { Name = "Project" }, new TableFieldsComponent { Name = "Allocation" }
    //};

    private Type GetContextType()
    {
        return typeof(MasterDetailsDataEntry.Demo.Database.AdventureWorksContext);
    }
}