@*<h5>EditorPage</h5>

Window: @_spaceController.ActiveWindowIndex*@

@if (_spaceController.ActiveWindow?.Type == EditWindowType.Form)
{
    <FormsComponent Height="740"/>
}

@code {
    [CascadingParameter]
    public ISpaceController _spaceController { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> ModelChanged { get; set; }

    //[Parameter]
    //public int ItemIndex { get; set; }

}
