@namespace MasterDetailsDataEntry.Blazor

<div class="form-check">
    <input type="checkbox" class="" checked="@GetValue()" @onchange="@(a => ValueChanged(a))" id="exampleCheck1" />
</div>

@code
{
    [Parameter]
    public DataField Field { get; set; }

    [Parameter]
    public FieldState State { get; set; }

    [Parameter]
    public EventCallback<ValueChangedArgs> ModelValueChanged { get; set; }

    private string GetValue()
    {
        var result = (bool?)State.Value == true ? "checked" : null;
        return result;
    }

    private async Task ValueChanged(ChangeEventArgs a)
    {
        State.Value = a.Value;
        var args = new ValueChangedArgs { Field = Field, State = State, NewValue = a.Value };
        await ModelValueChanged.InvokeAsync(args);
    }
}