<div class="MasterFormControl">
    This Blazor component is defined in the <strong>MasterDetailsDataEntry.Blazor</strong> package.
</div>

@code
{
    [Parameter]
    public Type MasterForm { get; set; }
}