/*add this to avoid flickering*/
.plk-dd-inprogess > * {
    pointer-events: none;
}

.plk-dd-draggable{
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

/*dropzone style style*/
.plk-dd-dropzone {
    min-height: 50px;
}

/*drag drop styles*/
.plk-dd-spacing {
    height: 10px;
}

.plk-dd-dragged-over {
    background-color: lightgray;
    opacity: 0.6;
}

    .plk-dd-dragged-over > div {
        background-color: lightgray;
        opacity: 0.6;
    }

.plk-dd-dragged-over-denied {
    background-color: red;
    opacity: 0.6;
}

.plk-dd-in-transit {
    opacity: 0.5;
}

    .plk-dd-in-transit > div {
        opacity: 0.5;
    }

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


/*for flex demo*/
.plk-flex .plk-dd-dragged-over {
    background-color: lightgray;
    opacity: 0.6;
}

    .plk-flex .plk-dd-dragged-over > div {
        background-color: lightgray;
        opacity: 0.9;
    }

.plk-flex .plk-dd-in-transit {
    background-color: orangered;
}

    .plk-flex .plk-dd-in-transit > div {
        background-color: orangered;
    }

.plk-dd-noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.flex-item {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    background-color: dodgerblue;
    min-height: 100px;
    opacity: 0.8;
}

.drag-item {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.drag-container {
    min-height: inherit;
    opacity: 0.8;
}